<!DOCTYPE html>
<html lang="en" ng-app="wolfensteinChat">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="web/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="ChatController as chatCtrl">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Wolfenstein Chat
                    </a>
                </li>
                <li ng-repeat="user in connectedUsers">
                    <a href="#">
                        {{user}}
                    </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Chat window</h1>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Chatroom
                            </div>
                            <div class="panel-body chatDisplay" id="chatDisplay">
                                
                                <div class="media msg" ng-repeat="msg in messages">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" alt="user" style="width: 32px; height: 32px;" src="web/img/user.png">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right time"><i class="fa fa-clock-o"></i>{{msg.datetime | date : 'h:mm a'}}</small>
                                        <h5 class="media-heading">{{msg.username}}</h5>
                                        <small class="col-lg-10">{{msg.message}}</small>
                                    </div>
                                </div>


                            </div>
                            <div class="panel-footer">
                                <form ng-submit="sendMessage()" >
                                    <input ng-model="message.text" required="required" type="text" class="form-control" />
                                    <input type="submit" value="Send" class="form-control btn btn-primary" />
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Socket IO Core -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- Angular Core -->
    <script type="text/javascript" src="web/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/web/js/app.js"></script>

</body>

</html>
