<!DOCTYPE html>
<html lang="en" ng-app="wolfensteinChat">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="web/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="web/css/login.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="LoginController as loginCtrl">

    <div id="fullscreen_bg" class="fullscreen_bg"/>

    <div class="container">

        <form class="form-signin" ng-submit="login()">
            <h1 class="form-signin-heading text-muted">Sign In</h1>
            <input ng-model="loginObj.username" type="text" class="form-control" placeholder="Username" required="" autofocus="">
            <input ng-model="loginObj.password" type="password" class="form-control" placeholder="Password" required="">
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
        </form>

    </div>

    <!-- Socket IO Core -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <!-- Angular Core -->
    <script type="text/javascript" src="web/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/web/js/app.js"></script>

</body>

</html>
